name: Test setup Nim from nothing.
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3

      - name: Download Nimby (Linux)
        if: matrix.os == 'ubuntu-latest'
        run: curl -L -o nimby https://github.com/treeform/nimby/releases/download/0.1.7/nimby-Linux-X64

      - name: Download Nimby (macOS)
        if: matrix.os == 'macos-latest'
        run: curl -L -o nimby https://github.com/treeform/nimby/releases/download/0.1.7/nimby-macOS-ARM64

      - name: Download Nimby (Windows)
        if: matrix.os == 'windows-latest'
        run: curl -L -o nimby.exe https://github.com/treeform/nimby/releases/download/0.1.7/nimby-Windows-X64.exe

      - name: Set executable permissions for Nimby (Linux or macOS)
        if: matrix.os == 'ubuntu-latest' || matrix.os == 'macos-latest'
        run: chmod +x nimby

      - name: Use Nim 2.2.6 (Linux or macOS)
        if: matrix.os == 'ubuntu-latest' || matrix.os == 'macos-latest'
        run: ./nimby use 2.2.6

      - name: Use Nim 2.2.6 (Windows)
        if: matrix.os == 'windows-latest'
        run: ./nimby.exe use 2.2.6

      - name: Add Nim to PATH
        run: echo "$HOME/.nimby/nim/bin" >> "$GITHUB_PATH"
        shell: bash

      - name: Copy Nimby to Nim bin directory (Linux or macOS)
        if: matrix.os == 'ubuntu-latest' || matrix.os == 'macos-latest'
        run: cp nimby "$HOME/.nimby/nim/bin/nimby"

      - name: Copy Nimby to Nim bin directory (Windows)
        if: matrix.os == 'windows-latest'
        run: cp nimby.exe "$HOME/.nimby/nim/bin/nimby.exe"

      - name: Install Fidget2
        run: nimby install fidget2

      - name: List Installed Nim packages
        run: nimby list

      - name: List Dependencies in Tree View
        run: nimby tree fidget2

      - name: Test Fidget2 Compilation
        run: nim c -r fidget2/src/fidget2.nim
