name: Test
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
jobs:
  test:
    strategy:
      matrix:
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3
      - uses: treeform/setup-nim-action@v3

      - name: Build Nimby
        run: nim c -d:release -d:monkey src/nimby.nim

      - name: Add Nimby to PATH
        run: echo "$PWD/src" >> "$GITHUB_PATH"

      - name: Run Nimby Tests
        run: nim r tests/test_parsing.nim
